/*!***********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/base.css ***!
  \***********************************************************************/
@tailwind base;

body {
	@apply font-avenir bg-mjh-cream;
}

p,
a,
li,
span {
	@apply tracking-wide;
}

/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/base/fonts.css ***!
  \*****************************************************************************/
/* @layer base {
	@font-face {
		font-family: 'Avenir Next';
		font-weight: 200;
		src: url('fonts/AvenirNextLTPro-UltLt.otf') format('opentype');
	}
	@font-face {
		font-family: 'Avenir Next';
		font-weight: 400;
		src: url('fonts/AvenirNextLTPro-Regular.otf') format('opentype');
	}
	@font-face {
		font-family: 'Avenir Next';
		font-weight: 600;
		src: url('fonts/AvenirNextLTPro-Demi.otf') format('opentype');
	}
	@font-face {
		font-family: 'Ogg-Roman';
		font-weight: 400;
		src: url('fonts/Ogg-roman.woff2') format('woff2'),
			url('fonts/Ogg-roman.woff') format('woff'),
			url('fonts/Ogg-roman.ttf') format('truetype');
	}
} */

/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/ui/layout.css ***!
  \****************************************************************************/
@layer components {
	.container {
		@apply mx-auto w-full max-w-screen-2xl px-3;
		&.container-fluid {
			@apply px-0;
		}
	}
	.page {
		@apply my-6 md:my-10;
	}
}

/*!****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/ui/button.css ***!
  \****************************************************************************/
@layer components {
	.btn {
		@apply text-tiny uppercase text-mjh-white tracking-widest text-center;
		@apply bg-primary py-3 px-6;
		@apply border-0;
		@apply hover:bg-mjh-white hover:text-primary-text;
		@apply outline-none focus:outline-none focus:ring-2 focus:ring-primary-text;
		@apply active:bg-mjh-white active:text-primary-text;
		@apply transition-colors duration-300;
	}

	/* btn modifiers */
	.btn-full {
		@apply w-full;
	}
	.btn-sm {
		@apply py-2 px-4;
	}
	.btn-lg {
		@apply py-4 px-8;
	}

	/* btn variants */
	.btn-icon {
		@apply w-[30px] h-[30px];
		@apply flex justify-center items-center;
		@apply hover:bg-mjh-gray active:bg-mjh-gray;
		@apply p-0;
		line-height: 1;
		&.btn-icon-sm {
			@apply w-[24px] h-[24px] text-tiny;
		}
	}

	.btn-rounded {
		@apply rounded-full;
	}

	.btn-square {
		@apply w-[30px] h-[30px];
		@apply flex justify-center items-center;
		@apply hover:bg-mjh-gray active:bg-mjh-gray;
		@apply p-0;
		line-height: 1;
	}

	.btn-with-icon {
		@apply relative p-0;
		@apply flex justify-center items-center;
		@apply min-w-[200px] h-[50px];
		line-height: 1;
	}
	.btn-secondary {
		@apply bg-mjh-white text-primary-text;
		@apply hover:bg-mjh-gray;
	}
	.btn-transparent {
		@apply bg-transparent text-primary-text;
		@apply hover:bg-mjh-gray;
	}
	.btn-secondary-hollow {
		@apply bg-mjh-white text-primary-text;
		@apply hover:bg-mjh-gray;
		@apply border-primary-text border-solid border;
	}
}

/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/ui/link.css ***!
  \**************************************************************************/
@layer components {
	.link {
		@apply hover:underline p-1;
		text-underline-offset: 3px;
		text-decoration-thickness: 1px;
	}
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/ui/typography.css ***!
  \********************************************************************************/
@layer components {
	.page-title {
		@apply text-center mt-2 md:mt-4 mb-4 md:mb-6;
		@apply text-3xl md:text-h2;
	}

	.page-subtitle {
		@apply text-center mb-8;
	}

	.h4 {
		@apply uppercase tracking-wider mb-2;
	}
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/common/header.css ***!
  \********************************************************************************/
.Header {
	@apply shadow-sm;

	& .Header__inner {
		@apply flex items-center;
		@apply py-2 lg:py-4 px-2 lg:px-3;
	}

	& .Header__left,
	& .Header__right {
		@apply w-2/5;
		@apply flex lg:justify-between items-center;
	}
	& .Header__left {
		@apply justify-start;
	}
	& .Header__right {
		@apply justify-end;
	}
	& .Header__center {
		@apply w-1/5;
		@apply flex justify-center items-center;
	}
	& .Header__nav {
		@apply flex-grow;
		@apply hidden lg:block;
	}
	& .Header__linklist {
		@apply flex justify-center;
		& > li {
			@apply mx-3;
		}
		& a {
			@apply uppercase tracking-wider text-tiny;
		}
	}

	& .Header__logo {
		@apply max-w-[36px] md:max-w-[50px] lg:max-w-[60px];
	}

	& .Header__search {
		@apply p-1 pl-0;
		@apply hidden lg:flex;
	}
	& .Header__burger {
		@apply p-1 pl-0;
		@apply lg:hidden;
	}
	& .Header__bag {
		@apply p-1 pr-0;
	}
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/common/footer.css ***!
  \********************************************************************************/
.Footer {
	@apply bg-primary-accent text-mjh-white;
	@apply pt-10 pb-20;

	& .Footer__content {
		@apply flex flex-wrap lg:flex-nowrap;
	}
	& .Footer__logo--container {
		@apply w-full lg:w-3/12;
		@apply flex justify-center lg:justify-start;
		@apply mb-8 lg:mb-0;
	}
	& .Footer__nav {
		@apply w-1/2 sm:w-1/3 lg:w-2/12;
	}
	& .Footer__linklist {
		& li {
			@apply mb-3;
			& a {
				@apply tracking-wider text-body;
			}
		}
	}

	& .Footer__newsletter {
		@apply w-full lg:w-3/12;
		@apply px-2;
		@apply mt-8 lg:mt-0;
		& p {
			@apply text-body;
		}
	}

	& .NewsletterForm__input-text--row {
		@apply flex justify-between;
		@apply mt-6 mb-3;
		& > input {
			@apply w-[48%];
		}
		& .NewsletterForm_input-text {
			@apply focus:border-black;
			@apply focus:outline-none ring-1 ring-black;
		}
	}

	& .Footer__copy {
		@apply mt-14;
		& p {
			@apply text-center text-sm;
		}
	}
}

/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles/common/content.css ***!
  \*********************************************************************************/
.MainContent {
	@apply min-h-[60vh];
	@apply pb-10;
}

/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./src/styles/main.css ***!
  \*****************************************************************************************************************/
/* UI */
/* Common */

.container{

    width: 100%
}

@media (min-width: 640px){

    .container{

        max-width: 640px
    }
}

@media (min-width: 768px){

    .container{

        max-width: 768px
    }
}

@media (min-width: 1024px){

    .container{

        max-width: 1024px
    }
}

@media (min-width: 1280px){

    .container{

        max-width: 1280px
    }
}

@media (min-width: 1360px){

    .container{

        max-width: 1360px
    }
}

@media (min-width: 1536px){

    .container{

        max-width: 1536px
    }
}
.table{

    display: table
}

