<div class="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="Footer-height-section">
  <footer class="Footer">
    <div class="container">
      <div class="Footer__content">
        <div class="Footer__logo--container">
          <a href="#" class="Footer__logo--link">
            <img src="" class="Footer__logo" alt="logo" />
          </a>
        </div>
        <div class="Footer__nav">
          <ul class="Footer__linklist">
            <li><a class="link" href="#">New Arrivals</a></li>
            <li><a class="link" href="#">Accessories</a></li>
            <li><a class="link" href="#">Shoes</a></li>
            <li>
              <a class="link" href="#">Curated Vintage</a>
            </li>
          </ul>
        </div>
        <div class="Footer__nav">
          <ul class="Footer__linklist">
            <li><a class="link" href="#">Services</a></li>
            <li><a class="link" href="#">About</a></li>
          </ul>
        </div>
        <div class="Footer__nav">
          <ul class="Footer__linklist">
            <li>
              <a class="link" href="#">
                Shipping &amp; Returns
              </a>
            </li>
            <li>
              <a class="link" href="#">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="Footer__newsletter">
          <p>
            Sign-up to our newsletter to instantly receive 15%
            off your first order, and to stay up to date on
            exclusive &amp; vintage pieces from our
            collection.
          </p>
          <form action="" class="NewsletterForm">
            <div class="NewsletterForm__input-text--row">
              <input type="text" class="NewsletterForm_input-text" placeholder="Name" autocomplete="name" name="name"
                required="" />
              <input type="text" class="NewsletterForm_input-text" placeholder="Email address" autocomplete="email"
                name="email" required="" />
            </div>
            <button type="submit" class="btn btn-full btn-lg">
              Submit
            </button>
          </form>
        </div>
      </div>
      <div class="Footer__copy">
        <p>© 2019 MJH Studios All Rights Reserved</p>
      </div>
    </div>
  </footer>
</div>


{% schema %}
{
  "name": "Footer",
  "class": "",
  "settings": [
    
  ]
}
{% endschema %}