<footer class="Footer" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="Footer__content">
      <div class="Footer__logo--container">
        <a href="#" role="link" class="Footer__logo--link">
          <img src="{{ section.settings.logo | img_url: '350x' }}" class="Footer__logo" alt="logo" />
        </a>
      </div>
      <div class="Footer__nav">
        <ul class="Footer__linklist">
          <li><a class="link" role="link" href="#">New Arrivals</a></li>
          <li><a class="link" role="link" href="#">Accessories</a></li>
          <li><a class="link" role="link" href="#">Shoes</a></li>
          <li>
            <a class="link" role="link" href="#">Curated Vintage</a>
          </li>
        </ul>
      </div>
      <div class="Footer__nav">
        <ul class="Footer__linklist">
          <li><a class="link" role="link" href="#">Services</a></li>
          <li><a class="link" role="link" href="#">About</a></li>
        </ul>
      </div>
      <div class="Footer__nav">
        <ul class="Footer__linklist">
          <li>
            <a class="link" role="link" href="#">
              Shipping &amp; Returns
            </a>
          </li>
          <li>
            <a class="link" href="#">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <div class="Footer__newsletter">
        <p>
          Sign-up to our newsletter to instantly receive 15%
          off your first order, and to stay up to date on
          exclusive &amp; vintage pieces from our
          collection.
        </p>
        <form action="" class="NewsletterForm">
          <div class="NewsletterForm__input-text--row">
            <input type="text" role="textbox" aria-label="Name textbox" class="NewsletterForm_input-text" placeholder="Name" autocomplete="name" name="name"
              required="" />
            <input type="text" role="textbox" aria-label="Email textbox" class="NewsletterForm_input-text" placeholder="Email address" autocomplete="email"
              name="email" required="" />
          </div>
          <button type="submit" role="button" aria-label="Submit button" class="btn btn-full btn-lg">
            Submit
          </button>
        </form>
      </div>
    </div>
    <div class="Footer__copy">
      <p>© 2019 MJH Studios All Rights Reserved</p>
    </div>
  </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "class": "footer-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}