<div id="menu-mobile-component">
  <div class="MobileMenu" :class="{ 'translate-x-0': menuOpen }">
    <div class="MobileMenu__header">
      <button @click="closeMenuMobile" class="btn btn-icon btn-transparent btn-rounded">
        {% render 'icon-cross' %}
      </button>
    </div>
    <nav class="MobileHeader__body">
      <ul class="MobileHeader__linklist">
        <li>
          <a class="link" href="#">
            New Arrivals
          </a>
        </li>
        <li>
          <a class="link" href="#">
            Accessories
          </a>
        </li>
        <li>
          <a class="link" href="#">
            Shoes
          </a>
        </li>
        <li>
          <a class="link" href="#">
            Curated Consignment
          </a>
        </li>
        <li>
          <a class="link" href="#">
            Services
          </a>
        </li>
        <li>
          <a class="link" href="#">
            About
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <transition name="fade">
    <div class="drawer-backdrop" @click="closeMenuMobile" v-if="menuOpen"></div>
  </transition>


</div>

<script>
  const menuMobile = Vue.createApp({
    delimiters: ['${', '}'],
    data() {},
    methods: {
      closeMenuMobile() {
        store.closeMenuMobile()
      },
    },
    computed: {
      menuOpen() {
        return store.state.menuMobile.open
      },
    },
  }).mount('#menu-mobile-component')
</script>