<div class="CartSidebarItem">
  <div class="CartSidebarItem__data CartSidebarItem__cell">
    <div class="CartSidebarItem__card">
      <div class="CartSidebarItem__image">
        <img class="CartSidebarItem__image--img" :src="item.image" :alt="item.title" />
      </div>
      <div class="CartSidebarItem__details">
        <div class="CartSidebarItem__details--top">
          <h4>${ item.product_title }</h4>
          <div class="CartSidebarItem__details--options">
            ${ item.variant_title }
          </div>
        </div>
        <div class="CartSidebarItem__details--bottom">
          <div class="QtySelector">
            <button role="button" aria-label="Add one" class="btn btn-icon btn-icon-xs btn-rounded btn-secondary" @click="decrement(item)">-</button>
            <div class="QtySelector__counter">${ item.quantity }</div>
            <button role="button" aria-label="Remove one" class="btn btn-icon btn-icon-xs btn-rounded btn-secondary" @click="increment(item)">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="CartSidebarItem__price CartSidebarItem__cell">
    <button @click="remove(item)" role="button" aria-label="Remove from Cart" class="btn btn-icon btn-icon-sm btn-rounded btn-secondary">
      {% render 'icon-trash', size: 20 %}
    </button>
    <span class="Price__cart-item">${ money(item.final_line_price) }</span>
  </div>
</div>